[submodule "Automatic-License-Plate-Recognition-using-YOLOv8"]
	path = Automatic-License-Plate-Recognition-using-YOLOv8
	url = https://github.com/Muhammad-Zeerak-Khan/Automatic-License-Plate-Recognition-using-YOLOv8.git
